:root {
  --dark: #343a40;
  --gray: #6c757d;
  --danger: #dc3545;
  --light: #f8f9fa;
  --body-bg: #212529;
  --body-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  color: var(--body-color);
}

.anime-search {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 44px;
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--gray);
}

.header strong {
  color: var(--light);
}

.conatiner-search {
  width: 100%;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control input[type="text"] {
  width: 25%;
  margin-top: 1.8rem;
  margin-bottom: 3rem;
  border: none;
  outline: none;
  background-color: var(--light);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 16px;
}

.form-control a {
  text-decoration: none;
  margin-left: 0.6rem;
  margin-top: 1.8rem;
  margin-bottom: 3rem;
  color: var(--light);
  padding: 0.4rem;
  background-color: var(--gray);
  border-radius: 0.3rem;
  transition: 0.4s;
  font-size: 18px;
  font-weight: meium;
}

.form-control a:active {
  background-color: var(--dark);
}

.search-result-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.2rem;
}

.search-result-type h1 {
  font-size: 20px;
  font-weight: meium;
  color: var(--gray);
}

.category-data label {
  color: var(--gray);
  font-weight: bold;
  line-height: 1.2;
  font-size: medium;
  margin-right: 0.6rem;
  font-size: 20px;
}

.category-data select {
  padding: 0.4rem;
  border: 0.03rem solid var(--gray);
  color: var(--gray);
  outline: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  background-color: transparent;
}

.category-data select option {
  border: 0.03rem solid var(--gray);
  color: var(--gray);
  outline: none;
  background-color: var(--body-bg);
  font-size: 14px;
  font-weight: meium;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.anime {
  width: 300px;
  margin: 16px;
  background-color: #2b2b2b;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.anime img {
  width: 100%;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.anime-info {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
}

.anime-info h3 {
  margin-top: 0;
  background-color: #2b2b2b;
  font-size: medium;
}

.anime-info span {
  background-color: #423f3e73;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: bold;
}

.synopsis {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 16px;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  color: #2b2b2b;
}

.synopsis h3 {
  background-color: #fff;
  color: #2b2b2b;
  font-size: medium;
  font-weight: bold;
  padding-bottom: 10px;
}

.anime:hover .synopsis {
  transform: translateY(0);
}

.synopsis button {
  font-size: 16px;
  padding: 8px;
  width: 100px;
  background-color: #524f4f;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.synopsis button:active {
  background-color: #2b2b2b;
}

.details {
  background-color: var(--quartenary-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 5px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.anime-poster img {
  max-width: 280px;
  margin: 0 auto;
}

.anime-details {
  text-align: center;
  color: #fff;
}

.anime-title {
  font-size: 2rem;
  color: var(--danger);
}

.anime-misc-details {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.3rem;
}

.anime-details .ano {
  font-weight: 500;
}

.anime-details .rated {
  color: #fff;
  padding: 0.3rem;
  margin: 0 0.3rem;
  border-radius: 3px;
  font-weight: 600;
  background-color: #6c757d4f;
}

.anime-details .tipo {
  background-color: var(--light-dark-color);
  display: inline-block;
  padding: 0.2rem;
  border-radius: 3px;
}

.anime-details .trama {
  max-width: 400px;
  margin: 1rem auto;
}

.movie-info .episodio {
  font-size: 0.6rem;
  opacity: 0.9;
}

.movie-info .score {
  padding: 0.3rem;
  margin: 1rem 0;
}

.overlay .closebtn {
  position: absolute;
  top: 30px;
  right: 45px;
  font-size: 60px;
}